/* --------- slider --------- */
@layer components {
  .slider .rangeslider {
    @apply bg-blue-300 w-full h-7 shadow-none m-0 rounded-r-full border-t border-r border-b border-transparent;
  }

  .slider .rangeslider .rangeslider__fill {
    @apply bg-blue-100 shadow-none rounded-none;
  }

  .slider .rangeslider .rangeslider__handle {
    @apply border border-blue-300 outline-none size-7 text-white bg-white;
    box-shadow: -3px 0px 8px 0px rgba(17, 17, 17, 0.15);
  }

  .slider .rangeslider .rangeslider__handle::after {
    @apply hidden;
  }

  /* The switch - the box around the slider */
  .switch-toggle {
    @apply relative inline-block h-5.5 w-9.5;
  }

  /* Hide default HTML checkbox */
  .switch-toggle input {
    @apply size-0 opacity-0;
  }

  /* The slider */
  .switch-toggle .slider-toggle {
    @apply absolute rounded-full bg-gray-400/50 inset-0 cursor-pointer duration-300;
  }

  .switch-toggle .slider-toggle:before {
    @apply content-[""] absolute rounded-full bg-white bottom-0.5 left-0.5 size-4.5 duration-300;
  }

  .switch-toggle input:checked + .slider-toggle {
    @apply bg-primary;
  }

  .switch-toggle input:checked + .slider-toggle:before {
    @apply translate-x-4;
  }

  .switch-toggle input:focus + .slider-toggle {
    box-shadow: 0 0 1px #3b82f6;
  }
}
