@import "tailwindcss";

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;

  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("/images/wallpaper.png");

  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ===== Theme ===== */
@theme {
  --font-georama: var(--font-georama);
  --font-roboto: var(--font-roboto-mono);

  --color-base: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-base-foreground: #1f2937;

  --color-primary: #0069ff;
  --color-primary-200: #93c5fd;
  --color-primary-300: #2563eb;
  --color-primary-foreground: #ffffff;

  --color-secondary: #463aa2;
  --color-secondary-foreground: #d5d7ee;

  --color-accent: #c148ac;
  --color-accent-foreground: #0e020b;

  --color-neutral: #1f2937;
  --color-neutral-200: #111827;
  --color-neutral-300: #020617;
  --color-neutral-foreground: #f9fafb;

  --color-bg: #ffffff;
  --color-text: #1f2937;
  --color-border: #e2e8f0;

  --breakpoint-3xl: 1920px;
}

/* ===== Utilities ===== */
@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

.icon {
  @apply rounded-md w-8 h-8 p-2 hover:bg-base-300 hover:text-neutral-200 cursor-pointer;
}

.window {
  @apply flex flex-col bg-base rounded-2xl shadow-2xl/50 overflow-hidden max-h-[70vh];
}

.window-header {
  @apply p-2.5 flex items-center justify-between w-full
   bg-base-200 text-sm font-bold text-center rounded-t-2xl border-b border-b-base-300;
}

.window-content {
  @apply p-4 flex-1 min-h-0 overflow-y-auto;
}

.side-bar {
  div {
    h3 {
      @apply text-xs font-medium mb-2;
    }

    ul {
      li {
        @apply flex items-center gap-2 p-2 rounded-lg mx-3 mb-1 cursor-pointer;
      }
    }

    .active {
      @apply bg-blue-200 text-blue-600;
    }

    .not-active {
      @apply hover:bg-base-300;
    }
  }
}

.app-icon {
  @apply flex flex-col p-2 w-28 select-none gap-2 items-center text-sm text-center text-shadow-2xs hover:bg-base-200 hover:text-base-foreground transition-colors duration-200;
}

.activities h2 {
  @apply font-bold text-primary;
}

.vertical-timeline-element-icon {
  box-shadow: none !important;
}

.vertical-timeline-element-content p {
  font-weight: normal !important;
  margin-top: 0 !important;
}
